#league{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	position:relative;
}
#of{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	position:relative;
}
#lmao{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	position:relative;
	
}

.something{
	
}