#league{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	position:relative;
}
#of{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	position:relative;
}
#lmao{
	color:yellow;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 100px;
	position:relative;
	
}

/*beta version ready*/
